.container {
    margin: 30px auto;
    width: 50%;
    padding: 8px;
}

.text {
    text-align: justify;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0px;
    }
}

.container_box {
    background-color: rgb(16, 75, 55);
    position: relative;
    top: -50px;

}

.p-2{
    background-color: aqua;
}

.container_you {
    position: relative;
    left: 40%;
    background-color: rgb(233, 214, 214);
    height: 150px;
    width: 50%;
    color: black;
    font-weight: 600;
}

body {
    height: 130vh;
   
}